<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>亚杰爬虫</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">百度风云榜</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <%
                            movies.forEach(function(movie){%>
                              <li class="list-group-item"><a href="<%=movie.url%>"><%=movie.name%></a></li>
                        <%})
                        %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>